.card {
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 30px;
}

.card-img-top {
	width: 100%;
	height: 348px;
	object-fit: cover;
	align: center;
}

.card-title {
	color: black;
}

.card-text {
	color: black;
}
@keyframes fade-down {
	0% {
	opacity: 0;
	transform: translateY(-30px) scale(0.9);
	}
	
	100% {
	opacity: 1;
	transform: translateY(0px) scale(1);
	}
}
.card {
	animation: fade-down 0.5s 0.4s backwards;
}
h2 {
    text-align: center; /* Centers text horizontally */
}