body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#title {
    margin-bottom: 30px; /* 타이틀과 폼 사이 여백 */
    font-size: 24px; 
}

#wrap {
    background-color: #222;
    padding: 40px; /* 폼 안쪽 여백 */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#Formwrap {
    border: 1px solid #ccc; /* 테두리 색상 변경 */
    background-color: #222; /* 배경색 */
    padding: 40px; /* 안쪽 여백 추가 */
    border-radius: 10px; /* 모서리 둥글게 */
    width: 400px; /* 원하는 넓이 설정 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 그림자 추가 */
}

#inputwrap {
    display: flex;
    flex-direction: column;
}

#idwrap, #pwdwrap {
    margin-bottom: 20px; /* 입력 필드 사이 여백 추가 */
}

input[type="text"], input[type="password"] {
    width: 100%; 
    padding: 10px; /* 패딩을 늘려 입력 필드 크기 증가 */
    font-size: 18px; /* 폰트 크기 조정 */
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#btnwrap {
    display: flex;
    justify-content: space-between; 
}

button {
    background-color: #e63946; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 15px; /* 버튼 안쪽 여백을 늘림 */
    font-size: 16px; /* 버튼 텍스트 크기 조정 */
    cursor: pointer; 
    transition: background-color 0.3s; 
    width: 48%; /* 버튼의 폭을 조정하여 공간 활용 */
}

button:hover {
    background-color: #d62839; 
}