<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="user.dao.CommentDAO">
    <insert id="insertComment" parameterType="CommentDTO">
        INSERT INTO comment (user_id, commenter_id, content, created_AT, commenter_name)
        VALUES (#{user_id}, #{commenter_id}, #{content}, #{created_AT}, #{commenter_name})
    </insert>

    <select id="getComment" parameterType="int" resultType="CommentDTO">
        SELECT comment_id, user_id, commenter_id, content, created_AT, commenter_name
        FROM comment
        WHERE user_id = #{userId}
        ORDER BY created_AT DESC
    </select>
</mapper>