<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.dao.MatchDAO">

	 <select id="getUserById" parameterType="int" resultType="user.bean.UserDTO">
        SELECT * 
        FROM date_user
        WHERE USER_ID = #{user_id} <!-- Changed from USER_ID to USER_USERNAME -->
    </select>

    <select id="getAllUsersExcept" parameterType="int" resultType="user.bean.UserDTO">
        SELECT * 
        FROM date_user
        WHERE USER_ID != #{user_id} <!-- Changed from USER_ID to USER_USERNAME -->
    </select>
    
    <select id="getCurrentUserById" parameterType="int" resultType="user.bean.UserDTO">
        SELECT * 
        FROM date_user
        WHERE USER_ID = #{user_id} <!-- Changed from USER_ID to USER_USERNAME -->
    </select>
    
     <insert id="sendMessage" parameterType="map">
        INSERT INTO date_message (sender_id, receiver_id, message_text, timestamp, status) 
        VALUES (#{sender_id}, #{receiver_id}, #{message_text}, NOW(), 'unread')
    </insert>
    
   <select id="getMessagesForUser" parameterType="int" resultType="user.bean.MessageDTO">
	    SELECT dm.sender_id, dm.receiver_id, dm.message_text, dm.timestamp, dm.status, 
	           du.user_name AS sender_name, du.profile_pic AS sender_profile_pic
	    FROM date_message dm
	    JOIN date_user du ON dm.sender_id = du.USER_ID
	    WHERE dm.sender_id = #{user_id} OR dm.receiver_id = #{user_id} 
	    ORDER BY dm.timestamp ASC
	</select>

</mapper>